body{
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(#033bb8, #a8b0f4);
    color: white;
}

.hero-section{
    padding: 80px 20px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;;
}